/* Overlay for popup */
.popup-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: #030457;
}

/* Form container styling */
.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Fade-in effect */
.popup-form {
    opacity: 1;
    animation: fadeIn 0.3s ease;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Form input styling */
.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1.5px solid #030457;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical; /* Allows resizing of textarea */
}

/* Submit and close button styling */
.submit-button, .close-button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #030457;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #020347;
}

.close-button {
    background-color: #716d6d;
}

.close-button:hover {
    background-color: #5e5b5b;
}

#description {
    height: 150px;
}

/* Responsive Styles */
/* For large screens and desktops */
@media (min-width: 1024px) {
    .form-container {
        width: 400px;
        padding: 30px;
    }

    #description {
        height: 200px;
    }
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    .form-container {
        width: 80%;
        max-width: 450px;
    }

    #description {
        height: 180px;
    }
}

/* For phones */
@media (max-width: 767px) {
    .form-container {
        width: 90%;
        padding: 20px;
    }

    input[type="text"], textarea {
        font-size: 14px;
    }

    .submit-button, .close-button {
        font-size: 14px;
        padding: 10px;
    }
}
