/* Layout for rows */
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 12px; /* Space between columns */
    margin-bottom: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

/* Overlay for popup */
.popup-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: #030457;
}

/* Form container styling */
.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Fade-in effect */
.popup-form {
    opacity: 1;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Form input styling */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container textarea {
    width: 100%;
    padding: 12px;
    margin-top: 4px;
    border: 1.5px solid #030457;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical; /* Allows resizing of textarea */
}

/* Submit and close button styling */
.submit-button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #030457;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #020347;
}


/* Responsive Styles */
@media (min-width: 1024px) {
    .form-container {
        width: 400px;
        padding: 30px;
    }
}

@media (max-width: 767px) {
    .form-row {
        grid-template-columns: 1fr; /* Stack fields vertically on small screens */
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea {
        font-size: 14px;
    }

    .submit-button, .close-button {
        font-size: 14px;
        padding: 10px;
    }
}
