/* General Page Styles */
body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header Container */
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

.header-title {
  font-size: 4rem;
  font-weight: bold;
  color: #030457;
  margin: 0 20px;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.create-blog-button, .refresh-button {
  background-color: #1a237e; /* Dark blue background */
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 150px;  
}
.refresh-button{
  margin-bottom: 1000px;
}

.create-blog-button:hover, .refresh-button:hover {
  background-color: #0056b3; /* Slightly darker blue on hover */
}

/* Card Styles */
.card {
  width: 90%;
  height: 100px;
  background-color: #e8f0f1;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: black;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 1.5rem;
  color: black;
  margin: 0;
}

.card-content p {
  font-size: 1rem;
  color: black;
  margin: 5px 0;
}

.button-container .button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  margin-top: 15px;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }
  
  .header-title {
    font-size: 3.5rem;
    margin: 20px 0;
  }
  
  .card {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }
  
  .header-title {
    font-size: 2rem;
    margin: 20px 0;
  }
  
  .card {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 100%;
  }
}
